/* Fonts */

h1,h2,h3,h4,h5,h6 {
  font-family: Sinhala MN;
}

.post-title {
  margin-top: 50px;
}

#site-head .blog-description, #site-head.withCenteredImage .blog-description {
  font-family: Sinhala MN;
}

#site-head a.btn, #site-head.withCenteredImage a.btn {
  opacity: 70%;
}

/* Button */

#site-head a.btn, #site-head.withCenteredImage a.btn {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#site-head a.btn, #site-head.withCenteredImage a.btn:hover,
#site-head a.btn, #site-head.withCenteredImage a.btn:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

#site-head a.btn, #site-head.withCenteredImage a.btn:active {
  background: var(--color);
  color: #fff;
}


.btn {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: var(--highlight);
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--highlight);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.btn:hover,
.btn:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.btn:active {
  background: var(--color);
  color: #fff;
}


/* RSVP */

#rsvp.post-holder {
padding-top: 0px;
}

.pb7 {
    padding-bottom: 0rem;
}

*, body {
    /*font-family: 'Poppins', sans-serif;*/
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}


#rsvp {
    background-color: #252B2D;
    height: 100%;
    overflow: hidden;
}

.form-holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
}

.form-content .form-items {
    border: 3px solid var(--section-light-bg-color);
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: var(--section-light-bg-color);
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: var(--section-light-bg-color);
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}

.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: var(--section-light-bg-color);
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select {
    width: 100%;
    padding: 9px 5px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: var(--section-light-bg-color);
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 5px;
}

.form-item {
  margin: 16px;
}

.btn-primary{
    background-color: var(--section-light-bg-color);
    outline: none;
    border: 0px;
    box-shadow: none;
    color: var(--section-dark-bg-color);
    border-radius: .25rem;
    padding: .375rem .75rem;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: var(--highlight);
    outline: none !important;
    border: none !important;
    box-shadow: none;
}

.form-content textarea {
    position: static !important;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: var(--section-light-bg-color);
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    outline: none;
    resize: none;
    height: 120px;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
}

.form-content textarea:hover, .form-content textarea:focus {
    border: 0;
    background-color: #ebeff8;
    color: #8D8D8D;
}

.mv-up{
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}
